<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13796368206-sd2n725c6n6chcr1n0qpjjj00qk7pfug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13796368206-sd2n725c6n6chcr1n0qpjjj00qk7pfug</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>13796368206-b40nlnoi0dvee2lq5d317gdclid5kraf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWAwJ1vqLR69gOV6Z5WDG5-fUJy9OQ94g</string>
	<key>GCM_SENDER_ID</key>
	<string>13796368206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppinglistProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shopapp-e0d5d</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-e0d5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13796368206:ios:a13af2c133db9e5b2fc81f</string>
	<key>DATABASE_URL</key>
	<string>https://shopapp-e0d5d-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>